h2 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #7e7171;
  text-decoration: underline;
}

.h2-inicio, .h1-inicio {
  font-weight: 900;
  text-align: center;
  user-select: none;
}

.h1-inicio {
  color: #7e7171;
  font-size: 17rem;
  line-height: 100vh;
  background: black;
  mix-blend-mode: screen;
}

.h2-inicio {
  text-decoration: underline;
  color: #7e7171;
  position: relative;
  font-size: 8rem;
  mix-blend-mode: luminosity;
  margin-top: 31%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(229, 193, 205);
  background: linear-gradient(180deg, rgb(229, 193, 205) 0%, rgb(201, 187, 200) 75%, rgb(193, 190, 207) 100%);
}

.inicio-div {
  display: flex;
  flex-direction: column;
}

video, .h1-inicio, .h2-inicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.h2-inicio {
  margin-top: 62vh;
}

video {
  object-fit: cover;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #796363;
  text-decoration: underline;
}

/* navbar/footer */
a {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 25px;
}

.logo-princ {
  font-family: "Noto Sans JP", sans-serif;
}

.btn-buscar {
  color: rgb(56, 56, 56);
  border: solid 1px #aac9ce;
}
.btn-buscar:hover {
  color: rgb(56, 56, 56);
  border: solid 1px #7e7171;
  background-color: #aac9ce;
}

.brands {
  margin-top: 17px;
}

/* navbar/footer */
.carousel {
  margin-top: 8%;
}

/* Cards */
.card {
  border: solid 0.5px rgb(155, 153, 153);
  background-color: #aac9ce;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  margin-bottom: 30px;
}
.card a {
  font-family: "Bangers", cursive;
}
.card:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  transform: translateY(-3%);
}
.card a {
  border: 1px solid gray;
  transition: all 400ms ease;
}
.card a:hover {
  border: 1px solid rgb(255, 255, 255);
}

h6 {
  color: rgb(0, 85, 0);
  font-size: 40px;
}

/* Cards */
/* DTO */
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #7e7171;
  text-decoration: underline;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #7e7171;
  text-decoration: underline;
}

.btn-propio-dto {
  font-size: 30px;
  width: 150px;
  height: 60px;
  font-family: "Bangers", cursive;
}

.price {
  font-size: 45px;
}

.deleted {
  font-size: 30px;
  text-decoration: line-through;
}

.dto-title {
  font-size: 35px;
}

.card-dto {
  background-color: #aac9ce;
  width: 100%;
}
.card-dto:hover {
  transform: scale(1.1);
}

/* DTO */
.container-form-dad {
  display: flex;
  justify-content: center;
}

.container-form {
  width: 50%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  background-image: url(/img/pjs.jpg);
  background-size: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
.contact-form h3 {
  color: black;
  font-weight: 1000;
  margin-bottom: 5%;
  background-color: rgba(155, 155, 155, 0.08);
}
.contact-form input, .contact-form textarea {
  border: 0;
  margin: 2% 0;
  padding: 1%;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}
.contact-form button {
  padding: 3%;
  background: #7786be;
  color: #fff;
  font-size: 125%;
  border: 0;
  outline: none;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 30px;
}

@media (min-width: 990px) {
  .carousel {
    margin-top: 2%;
  }
  h1 {
    font-size: 55px;
  }
  h3 {
    font-size: 45px;
  }
  .single-product {
    margin-top: 10%;
  }
}
@media (max-width: 990px) {
  .h1-inicio {
    font-size: 15rem;
  }
  .h2-inicio {
    font-size: 7rem;
    margin-top: 35rem;
  }
  .container-form {
    width: 150%;
  }
}
@media (max-width: 830px) {
  .h1-inicio {
    font-size: 12rem;
  }
  .h2-inicio {
    font-size: 6rem;
    margin-top: 34rem;
  }
}
@media (max-width: 650px) {
  .h1-inicio {
    font-size: 9rem;
  }
  .h2-inicio {
    font-size: 5rem;
    margin-top: 33rem;
  }
  .container-form {
    width: 150%;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .h1-inicio {
    font-size: 7rem;
  }
  .h2-inicio {
    font-size: 4rem;
    margin-top: 32rem;
  }
}

/*# sourceMappingURL=style.css.map */
