%vid-text{
    font-weight: 900;
    text-align: center;
    user-select: none;
}

.h1-inicio {
    color: $titulo;
    font-size: 17rem;
    line-height: 100vh;
    background: black;
    mix-blend-mode: screen;
    @extend %vid-text
}

.h2-inicio{
    text-decoration: underline;
    color: $titulo;
    position: relative;
    font-size: 8rem;
    mix-blend-mode: luminosity;
    margin-top: 31%;
    @extend %vid-text;
}